/**********header***********/

.header {
    align-items: center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    z-index: 9999;
  
    &__logo {
      height: 34px;
      height: 63px;
      // margin: 20px 0px 12px 0px;
    }
  
    &__container {
      width: 100%;
      align-items: center;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
      z-index: 9999;
    }
  
    .arrow {
      position: absolute;
      top: 25px;
      left: 25px;
    }
  }
  
  /***************location**************/
  .location {
    width: 100%;
    height: 50px;
    background-color: $location-color;
    justify-content: center;
    flex-direction: row;
    gap: 17px;
    align-items: center;
    padding: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 9998;
  
    p {
      font-size: 16px;
      font-weight: 500;
    }
  }
  
  
  /**********section menu***********/
  .menu {
    align-items: center;
    gap: 20px;
    padding: 40px 20px;
    background-color: $bg-color;
    text-align: center;
  
  
    &__subtitle {
      font-size: 18px;
      font-weight: 300;
    }
  }
  
  /***********Section explications*************/
  
  .explications {
    gap: 20px;
    padding: 40px 20px;
  
    &__container {
      gap: 20px;
      padding-left: 12px;
    }
  
    &__bg {
      height: 72px;
      width: 100%;
      background-color: $bg-color;
      border-radius: 20px;
      gap: 20px;
      flex-direction: row;
      align-items: center;
      position: relative;
      padding: 30px;
      font-size: 16px;
      font-weight: 500;
      box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  
      i {
        font-size: 18px;
      }
  
      i:hover {
        color: $main-color;
      }
    }
  
    &__number {
      font-weight: 500;
      font-size: 14px;
      color: $plater-color;
      align-items: center;
      justify-content: center;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      background-color: #9356DC;
      position: absolute;
      left: -12px;
    }
  }
  
  /****************restaurants****************/
  
  .restaurants {
    padding: 40px 20px 30px 20px;
    background-color: $bg-color;
    gap: 20px;
    position: relative;
    margin-bottom: 60px;
  
    &__container {
      gap: 18px;
    }
  
    &__cardcontent {
      background-color: #FFFFFF;
      border-radius: 20px;
      box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.10);
      position: relative;
    }
  
    &__cardlink {
      z-index: 10;
    }
  
    &__cardtext {
      padding: 15px 13px;
      flex-direction: row;
      justify-content: space-between;
  
      p {
        font-size: 17px;
        font-weight: 300;
      }
  
      h3 {
        font-size: 18px;
        font-weight: 700;
      }
    }
  
    &__started {
      justify-content: flex-end;
    }
  
    &__conturn {
      @include pictureposition(bottom);
  
      &--altposition {
        @include pictureposition(100% 60%);
  
      }
    }
  
    &__picture {
      position: relative;
    }
  
    &__textpicture {
      position: absolute;
      top: 20px;
      right: 10px;
      background-color: $border-color;
      padding: 5px;
      border-radius: 2px;
      color: $news-color;
    }
  
    &__textcontainer {
      gap: 3px;
    }
  
    &__heartcontainer {
      position: absolute;
      bottom: 30px;
      right: 30px;
      z-index: 10;
    }
  }
  
  /*****************footer********************/
  
  .footer {
    background-color: #353535;
    text-decoration-color: #FFFFFF;
    padding: 22px 25px 22px 25px;
    gap: 16px;
    color: $plater-color;
    margin-top: -60px;
  
    &__logo {
      color: #FFFFFF;
      font-size: 18px;
    }
  
    ul {
      gap: 7px;
      font-weight: 400;
      font-size: 16px
    }
  
    &__online {
      flex-direction: row;
      align-items: center;
      gap: 6px;
      font-weight: 500;
  
      i {
        font-size: 12px;
        width: 20px;
      }
    }
  }
  
  
  /*******************anotherpage******************/

  .img {
    position: relative;
    z-index: -1;
    height: 275px;
    object-fit: cover;
    
  }
  
  .price__right {
    font-size: 15px;
    font-weight: 700;
    align-self: flex-end;
    padding: 15px 15px 15px 0;
  }
  
  .description {
    gap: 40px;
    background-color: $bg-color;
    border-radius: 40px 15px;
    position: relative;
    z-index: 1;
    padding: 40px 15px;
    background-clip:padding-box;
    top: -60px;

    section {
      gap: 12px;
      opacity: 0;
    }
  
    .started {
      animation: fadeInAnimation ease 1s; // S'affiche en 1s
      animation-fill-mode: forwards; // L'état final de l'animation persiste
    }
  
    .plater {
      animation: fadeInAnimation ease 3s;
      animation-fill-mode: forwards;
    }
  
    .desserts {
      animation: fadeInAnimation ease 5s;
      animation-fill-mode: forwards;
    }
  
    .titleandborder {
      gap: 12px;
    }
  
    &__cardtitle,
    &__cardsubtitle {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      display: inline-block;
    }
  
    &__cardtitle {
      font-size: 18px;
      font-weight: 500;
    }
  
    &__cardsubtitle {
      font-size: 15px;
      font-weight: 300;
    }
  
    &__lefttitle {
      font-size: 16px;
      font-weight: 300;
      flex-direction: row;
    }
  
    &__bgmenuanother {
      background-color: $plater-color;
      border-radius: 15px;
      gap: 5px;
      overflow: hidden;
      flex-direction: row;
      height: 69px;
  
      &:hover {
        .description__bganimation {
          margin: 0;
        }
      }
    }
  
    &__started {
      padding: 15px 0 15px 15px;
      flex: 1;
      min-width: 0;
    }
  
    &__name {
      flex-direction: row;
      gap: 30px;
      top: -60px;
  
    }
  
    &__titlerestaurants {
      font-weight: 400;
      font-size: 28px;
      font-style: italic;
    }
  
    &__heartcontainer {
      justify-content: center;
    }
  
  
    &__bganimation {
      width: 59px;
      height: 100%;
      background-color: $border-color;
      margin-right: -59px;
      transition: margin-right 250ms;
      align-items: center;
      justify-content: center;
    }
  
    &__checkcontainer {
      border-radius: 50%;
      background-color: $plater-color;
      width: 20px;
      height: 20px;
      align-items: center;
      justify-content: center;
  
      i {
        color: $border-color;
      }
    }
  }
  
  .border {
    width: 40px;
    border: 2px solid $border-color;
  }
  
  /* Style pour cacher le contenu principal initialement */
  .main_index {
    opacity: 0; // Cache <main> par défaut
    visibility: hidden;
    transition: opacity 0s 3s, visibility 0s 3s;
    animation: showContent 3s steps(1, end) forwards; // Réaffiche <main> en 3s
  }
  
  .body_index {
    overflow: hidden; // Bloque le scroll
    animation: overflowAuto 3s steps(1, end) forwards; 
  }
  